<!DOCTYPE html>
<html lang="en">
<head>
    <title>Delete Task</title>
</head>
<body>
    <div>
        <h1>Delete Task</h1>

        <div>
            <form action="/delete" method="POST">
                <div>
                    <label>Select Task to Delete:</label>
                    <select name="taskId">
                        <% todos.forEach(todo => { %>
                            <option value="<%= todo._id %>"><%= todo.task %></option>
                        <% }) %>
                    </select>
                </div>
                <button type="submit">Delete Task</button>
            </form>
        </div>

        <div>
            <a href="/">Back</a>
        </div>
    </div>
</body>
</html>
