<!DOCTYPE html>
<html lang="en">
<head>
  <title>Delete Task</title>
</head>
<body style="text-align: center;">
  <h1>Delete Task</h1>

  <form action="/delete" method="POST">
    <label>Select a Task to Delete:</label><br><br>
    <select name="taskId" required>
      <% todos.forEach(todo => { %>
        <option value="<%= todo._id %>"><%= todo.task %></option>
      <% }) %>
    </select><br><br>
    <button type="submit">Delete</button>
  </form>

  <div style="margin-top: 20px;">
    <a href="/">Back to List</a>
  </div>
</body>
</html>
