<!DOCTYPE html>
<html>
<head>
  <title>To-Do List</title>
</head>
<body style="text-align: center;">
  <h1>To-Do List</h1>
  <table style="margin: 0 auto;">
    <tr>
      <th>#</th>
      <th>Task</th>
      <th>Actions</th>
    </tr>
    <% todos.forEach((todo, index) => { %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= todo.task %></td>
        <td>
          <form action="/update/<%= todo._id %>" method="GET" style="display:inline;">
            <button type="submit">Edit</button>
          </form>
          <form action="/delete/<%= todo._id %>" method="GET" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </table>

  <div style="margin-top: 20px;">
    <form action="/insert" method="GET">
      <button type="submit">Add Task</button>
    </form>
  </div>
</body>
</html>
