<!DOCTYPE html>
<html lang="en">
<head>
    <title>Insert Task</title>
    
</head>
<body>
    <div>
        <h1>Add New Task</h1>

        <div>
            <form action="/insert" method="POST">
                <div class="mb-3">
                    <label>Task Name:</label>
                    <input type="text" name="task" required>
                </div>
                <button type="submit">Add Task</button>
            </form>
        </div>

        <div>
            <a href="/">Back</a>
        </div>
    </div>
</body>
</html>
